h1, h3{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}

img{
    height: auto;
    width: 300px;
}

p1{
    color: darkcyan;
}

li{
    color:chocolate;
    font-family: monospace;
    font-style: italic;
    font-size: larger;
}

h2{
    color: cornflowerblue;
}